{% load static %}

<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>HOME</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href='{% static 'styles/home.css' %}?{% now "U" %}'>
</head>
<body>
   <section id="home">
      <div id="heading">
         <div id="text">
            <h2>Welcome {{user.first_name}}!!!</h2>
            <div id="messages">
            {% for message in messages %}
            <h2>{{message}}</h2>
            {% endfor %}
            </div>
            <h3>Attendance registration made hassle-free....</h3>
            <h4>Here we provide instant attendance taking for your time saving...</h4>
            <p><a href="/accounts/login">Login</a></a> to continue.</p>
                    
            <button type="button" class="btn-lg btn-primary btn"><a href ="/employee">Employee Details</a></button>     
            <button type="button" class="btn-lg btn-primary btn"><a href ="/attendance"> Attendance Details</a></button>                  
             
         </div>     
            
         
            
      </div>

   </section>

   
   <div id="navbar">
       <i class="fa-solid fa-pegasus"></i>
      {% if user.is_authenticated %}
      <a href="/employee">Employee Details</a>
      <a href="/attendance">Attendance Registration</a>
      <a href="/accounts/logout">LOGOUT</a>
      {% else %}
      <a href="/accounts/login">LOGIN</a>
      
      {% endif %}
      <a href="/about">About/Feedback</a>
      
   </div> 
      
   
    
</body>
</html>