body
 {
  
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  height:800px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 3.5rem;
}

/* #navbar 
{
  position:fixed;
  width:100%;
  margin-top:2rem;
  margin-left:0;
  padding-top:20px;
  padding-bottom:20px;
  text-decoration: none;
  left:0;
  top:0;
}
#navbar a{
  padding-left:30px;
  padding-right: 30px;
  text-decoration: none;
  font-size:18px;
  text-align:center;
  color:white;
  margin-left: 20px;
  font-weight: bolder;
}
#navbar a:hover{
  padding-top:8px;
  padding-bottom:8px;
  background-color:#6abe06;
  color:white;
  border-radius:10px;
} */
.navbar{
  
  margin-top: auto;
  
}      
/* Navigation Bar */
.navbar-brand{
  padding-top:0.7rem;
  font-family:"Merienda One";
  font-size:2.3rem;    
 
  padding-left: 2.4rem;

}
.nav-item{

  padding-right:2rem;
  
}
.nav-link{
  font-family:"Montserrat" ;
  font-size: 1rem ;
}
  
/* input[type=number]
{
  width:100%;
  padding: 12px 20px;
  margin:8px 0;
  display:inline-block;
  border:1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: medium;
  padding-top:15px;

} */
::placeholder{
  color:rgba(255,255,255,0.7);
}
h2{
   
  text-align: center;
  
  color:white;
}
table{
  
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: large;
}
td{
  padding-left:1.5rem;
  padding-right:1.5rem;
}

